{:paths ["src"]
 :deps  {org.clojure/clojure {:mvn/version "1.10.3"}
         com.evocomputing/colors {:git/url "https://github.com/jolby/colors.git"
                                  :sha "3f31b34e429bdde1d777776abea221a177f1a7a0"}}}
